/* All Common Css Start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
   box-sizing: border-box; 

}
a,a:hover{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
/* All Common Css End */
.navbar {

	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-link {

    Color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    transition: .4s;
  }
  .nav-link:hover {

    Color: #4756DF ;

  }
  .contact_btn{
   padding: 15px 42px; 
   background: #6A4DF4;
   border-radius: 10px;
   color: #fff;
   font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;

  }

  #banner_part{
    background: url(../images/agenc-Banner\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }
  .banner_overly{
padding-top: 330px;
padding-bottom: 165px;
background: rgba(0, 0, 0, 0.623)
  }
  .banner_text h3{
    font-family: "Inter", sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 120px ;
  }
  .banner_text p{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px ;
    padding: 0 214px;
  }
  .banner_text a{
      padding: 15px 42px; 
      background: #6A4DF4;
      border-radius: 10px;
      color: #fff;
      font-family: "Inter", sans-serif;
       font-size: 20px;
       font-weight: 600;
  }

